@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer

<div style="color:#006bb7;padding:4px;margin-left:15px">
<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
                @LoginName
                <a @onclick="Logout">Logout</a>
        </Authorized>
        <NotAuthorized>
                <a href="Login">Login</a>
        </NotAuthorized>
    </AuthorizeView>


    </CascadingAuthenticationState>
</div>

@code {
    string LoginName = "";
    bool isAuthenticated = false;

    protected override async Task OnInitializedAsync()
    {
        await UpdateAuthStateAsync();
        AuthenticationStateProvider.AuthenticationStateChanged += AuthStateChanged;
    }
    private async void AuthStateChanged(Task<AuthenticationState> task)
    {
        await UpdateAuthStateAsync();
        StateHasChanged();
    }
    private async Task UpdateAuthStateAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            isAuthenticated = true;
            LoginName = $"Hello: {user.Identity.Name}";
        }
        else
        {
            isAuthenticated = false;
            LoginName = "Not Logged In";
        }
    }

    private void Logout()
    {
        CustomAuthenticationStateProvider customAuthProvider = (CustomAuthenticationStateProvider)AuthenticationStateProvider;
        customAuthProvider.Logout();
    }

    private void Dispose()
    {
        AuthenticationStateProvider.AuthenticationStateChanged -= AuthStateChanged;
    }
}
