@using Microsoft.AspNetCore.Components.Authorization
@using BlazorAuthenticationExample.Components.Partials
@inject AuthenticationStateProvider AuthenticationStateProvider


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorAuthenticationExample</a>
    </div>
</div>


<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">


    <nav class="flex-column">
        <NavMenuItems />  <!-- <BlazorAuthenticationExample.Components.Partials.NavMenuItems /> -->
        <div style="color:white;border:1px solid red; padding:4px;">
            <NavStateLogin /> <!-- <BlazorAuthenticationExample.Components.Partials.NavStateLogin /> -->
        </div>
    </nav>
</div>

@code {

}

